<!-- Navigation links for mobile -->
<div class="sidebar-nav d-md-none mt-auto">
  <hr class="sidebar-divider">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/chat">Chat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin-panel">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/account">Account</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/logout">Sign Out</a>
    </li>
  </ul>
</div>
